$standardSpace: 16px;
$fontStyle: $standardSpace sans-serif;
$maxWidth: 1200px;

$primaryColor: #6183DD;
$secondaryColor: #333333;
$tertiaryColor: #ffffff;
$lightGrey: #e7e7e7;
$shadow: 0 0 10px rgba(51, 51, 51, 0.2);
$backDrop: rgba(0, 0, 0, 0.2);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: $fontStyle; 
    color: $secondaryColor;   
}

button {
    font: $fontStyle;
    padding: $standardSpace;
    background: $primaryColor;
    border: none;
    color: $tertiaryColor; 
    cursor: pointer;   
    
    width: 100%;

    &:hover {
        background: $tertiaryColor;
        color: $primaryColor;
    }
}

.marker-btn {               
    padding: $standardSpace;
    border-style: solid;
    border-color: $primaryColor;
    border-radius: $standardSpace;
    background: $tertiaryColor;
    color: $primaryColor;

    font-size: 0.5*$standardSpace;

    &:hover {
        background: $primaryColor;
        color: $tertiaryColor;
    }
}

.card-marker {
    padding: 2*$standardSpace;

    display: flex;
    flex-direction: column;    

    justify-content: center;
    align-items: center; 
    position: relative;

    width: 100%;
    min-width: 300px;

    h2 {
        font-size: 1*$standardSpace;
        margin-bottom: 0.5*$standardSpace;
    }

    h1 {
        margin-bottom: $standardSpace;
    }

    .card-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $standardSpace;
        margin-top: $standardSpace;

        background: $primaryColor;
        padding: $standardSpace;
        color: $tertiaryColor
    }
}

input {
    font: $fontStyle;
    padding: $standardSpace;
    background: $lightGrey;
    border: none;
    font-size: $standardSpace;
    height: $standardSpace*3;
}

nav {
    height: 10vh; 
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-container {
        max-width: $maxWidth;
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        img {
            height: 50px;
        }

        button {
            max-width: 150px;
        }
    }
}

.hero-section {
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-content {
        max-width: $maxWidth;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            max-width: ($maxWidth/2)*0.8;
        }

        .hero-text {
            display: flex;
            flex-direction: column;
            max-width: $maxWidth/2;            
        }

        h1 {
            font-size: $standardSpace*3;
            margin: $standardSpace*2 0;
            line-height: $standardSpace*3;
        }

        h2 {
            font-size: $standardSpace*1;
            margin-bottom: $standardSpace;
        }
    }
}

.input-section {
    height: 30vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    margin-bottom: $standardSpace*3;

    form {
        max-width: $maxWidth;
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;  
        
        box-shadow: $shadow;
        padding: $standardSpace*5;
        
        background: $primaryColor;

        h1 {
            font-size: 2*$standardSpace;
            margin: $standardSpace;
            color: white;            
        }

        .form-inputs {
            display: grid;
            grid-template-columns: 3fr 3fr 1fr;
            grid-gap: $standardSpace;
            width: 100%;   
            margin-bottom: $standardSpace*2;  
            
            .input-product {
                display: flex;
                flex-direction: column;

                label {
                    font-size: $standardSpace;  
                    height: $standardSpace*1.5;  
                    color: white;                
                }
            }
        }

        .product-inputs {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-gap: $standardSpace;
            width: 100%;   
            margin-top: $standardSpace*2;    
            
            .input {
                display: flex;
                flex-direction: column;

                label {
                    font-size: $standardSpace;  
                    height: $standardSpace*1.5; 
                    color: white;                 
                }
            }
        }

        button {
            max-width: 300px;   
            margin-top: $standardSpace*1.5;         
        }

        .btn-add-product {
            margin-top: $standardSpace*1.5;
        }
    }
}

.products-section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;    

    .products-container {
        max-width: $maxWidth;
        width: 100%;
        height: 100%;

        display: grid;
        grid-gap: $standardSpace;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card {
            padding: $standardSpace;
            box-shadow: $shadow;

            min-height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            position: relative;

            button {
                position: absolute;
                bottom: 0;
            }

            h2 {
                font-size: 1.5*$standardSpace;
                margin-bottom: $standardSpace;
            }

            h1 {
                font-size: 3*$standardSpace;
            }

            .card-info {                
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $standardSpace;
                margin-top: 2*$standardSpace;

                .card-info-detail:last-child {
                    text-align: right;
                }
            }
        }

        img {
            max-width: $maxWidth/4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .null-product-warnning {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            min-height: 300px;            

                h1 {
                    font-size: $standardSpace*1.5;
                    margin-bottom: $standardSpace;
                }

                h2 {
                    font-size: $standardSpace*.75;
                }
        }
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background: $backDrop;    

    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .close-modal-btn {
        position: fixed;
        bottom: 0;
    }

    .modal {        
        background: $tertiaryColor;
        max-width: 600px;
        width: 100%;
        min-height: 50vh;
        padding: 3*$standardSpace;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin-bottom: $standardSpace;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;

            input {
                margin: $standardSpace 0;
            }

            button {
                margin: $standardSpace 0;
            }

            a {
                text-decoration: none;
                color: $secondaryColor;

                a:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}